.contacto{
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 400;
}

.ul-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .link-contact {
        list-style: circle;
        text-align: center;
        margin: 3px;
        padding: 3px;
    }
}

