.ul-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .li-about {
        list-style: circle;
        text-align: center;
        margin: 5px;
        padding: 5px;
    }
}



